<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date %> <br>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %> <br>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label "Room number" %> <br>
    <%= form.select :room_id, Room.all.sort_by(&:room_number).collect { |r| [r.room_number, r.room_id] } %>
  </div>

  <div>
    <%= form.label :guest_id, style: "display: block" %>
    <%= form.select :guest_id, Guest.all.sort_by(&:guest_name).collect { |g| [g.guest_name, g.guest_id] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
